<!doctype html>
<html>
  <head>
    {% block head %}
    <title>AutoChemplete -{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/autochemplete-favicon.png') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/autochemplete-favicon.ico') }}" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width" />
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
